*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

p{
    text-transform: lowercase;
}
p::first-letter{
    text-transform: uppercase;
}

h1{
    text-transform: capitalize;
}
h1::first-letter{
    text-transform: uppercase;
}

h2{
    text-transform: lowercase;
}
h2::first-letter{
    text-transform: uppercase;
}

h3{
    text-transform: lowercase;
}
h3::first-letter{
    text-transform: uppercase;
}

h4{
    text-transform: lowercase;
}
h4::first-letter{
    text-transform: uppercase;
}

textarea{
    text-transform: lowercase;
}
textarea::first-letter{
    text-transform: uppercase;
}
body{
    background: linear-gradient(90deg, rgba(26,18,30,1) 0%, rgba(121,17,173,1) 34%, rgba(84,20,180,1) 56%, rgba(72,14,161,1) 76%, rgba(32,14,62,1) 95%, rgba(26,17,35,1) 100%);
    height: 1200px;
}

header{
    display: flex;
    margin-top: 3vh;
    justify-content:space-around;
}

.otro{
    font-size: 3vh;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    width: auto;
    text-align: center;
    background-color: #18102C;    
    border: none;
    border-radius: 25px;
    color: white;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin: 0%;
    box-shadow: #b8b6ba 1px 2px 6px, #bab8bd 1px 2px 4px, #b1aeb3 1px 2px 6px;
}

.otro:hover{
    box-shadow: #bab8bd 1px 4px 10px, #bab8bd 1px 4px 20px, #bab8bd 1px 4px 10px;
}

main{
    width: 70%;
    max-width: 1240px;
    max-height: 3000px;
    min-width: 900px;
    min-height: 1100px;
    padding-bottom: 500px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.container{
    height: 100%;
    background-color: white;
}

.izquierda{
    text-align: center;
    float: left;
    width: 35%;
    height: 100%;
    padding: 30px;
    color: white;
    background-color:rgb(92, 88, 88);
}

.izquierda h2{
    font-weight: bolder;
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-align: start;
}

.datos{
    font-weight: lighter;
}

.perfilImg{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 3vh;
    background-color: rgb(158, 153, 153);
}

.apellido{
    margin-bottom: 7vh;
}

.derecha{
    float: right;
    width: 65%;
    height: 100%;
    text-align: justify;
    padding-top: 2vh;
    padding-right: 10vh;
    padding-left: 6vh;
    color: black;
}

.derecha table{
    padding-bottom: 30px;
}

.black{
    color: rgb(57, 55, 55);;
}

.titulo{
    text-align: start;
    font-size: 50px;
}

.derecha h2, h3{
    text-align: start;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

li{
    list-style: none;
}

table{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.alineacionFin{
    text-align: end;
    float: right;
}

.nombre{
    color: rgb(92, 88, 88);
}

p{
    text-align: start;
    font-size: 20px;
}

.margen{
    margin-bottom:10px;
}

